[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gnomonicM"]
	path = gnomonicM
	url = https://github.com/ejosymart/gnomonicm
[submodule "sizeMat"]
	path = sizeMat
	url = https://github.com/ejosymart/sizemat
